body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/

.cover{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #FD5545;
}
/*header*/

.header-menu {
    width: 1370px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
/*nav-menu*/
.nav-menu {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.animation-img img{
    transition: all 1s ease;
}

/*animation*/

.animation-img img:hover{
    width: 28px;
    height: 28px;
    transition: all 1s ease;
}

/*/header*/


/*container*/
.container-top {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

/*left-part*/

.left-part-top {
    width: 570px;
    margin-top: 121px;
    position: absolute;
}
.left-part-top span{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.left-part-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
}
.left-part-top p{
    margin-top: 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/*icons-top*/
.icons-top{
    margin-top: 32px;
    width: 216px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons-top a{
    background-color: #FFFFFF;
    border-radius: 50%;
}
.bgc-icon{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*right-part*/

.right-part-top img{
    position: relative;
    z-index: -1;
    top: -71px;
    left: 445px;
}

/*/section*/