body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/
.cover-10{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}
/*header*/

.header-menu {
    width: 1370px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 399px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
/*contact-us */
.download{
    display: flex;
    border: 1px solid grey;
    border-radius: 7px;
}
.download-top a{
    padding: 8px 14.5px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #FD5545;
    border: 1px solid gray;
}

/*animation*/

/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #333333;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}
/*contact-us*/
.download-top :hover{
    background-color: #FD5545;
    border: 1px solid #FD5545;
}
.download-top a:hover{
    color: #FFFFFF;
}
.animation-us{
    transition: all 1s ease;
}
/*/header*/

/*container*/
.container-top {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

/*left-part*/

.left-part-top {
    width: 551px;
    margin-top: 130px;
    position: absolute;
    z-index: 2;
}
.left-part-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}
/*description*/
.description p {
    margin-top: 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
/*buttons*/
.buttons-badge {
    width: 320px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.white{
    color: #FFFFFF;
}
.red{
    color: #FD5545;
}

/*right-part*/

.right-part-top {
    position: relative;
    z-index: 1;
    left: 350px;
    top: 70px;
}


/*/section*/