body{
    font-family: 'Source Sans Pro', sans-serif;
}

.cta-19{
    width: 1070px;
    margin: 0 auto;
}

.h1_cta19{
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    margin-top: 73px;
    width: 418px;
    color: #333333;
}

.p_cta19{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 470px;
    margin-top: 23px;
    color: #333333;
}

.h2_cta19{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-left: 700px;
    margin-top: -296px;
}

.form-name19 input{
    display: block;
    margin-top: 20px;
    width: 370px;
    height: 48px;
    margin-left: 700px;
    padding-left: 15px;
}

.form-email19 input{
    display: block;
    margin-top: 20px;
    width: 370px;
    height: 48px;
    padding-left: 15px;
    margin-left: 700px;
}

.select_styles19{
    width: 391px;
    height: 54px;
    display: block;
    padding-left: 15px;
    margin-top: 20px;
    margin-left: 700px;
}

.send-message_cta19{
    width: 391px;
    height: 48px;
    background-color: #FD5545;
    border: solid 1px #FD5545;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 700px;
}


.send-message_cta19 a{
    text-decoration: none;
    color: #fff  ;
}