body{
    font-family: 'Source Sans Pro', sans-serif;
}

.main-section{
    width: 1440px;
    height: 720px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;

}

.creative_beautiful{
    width: 780px;
    height: 148px;
    text-align: center;
    margin: 0 auto;
    margin-top: 262px;
}

.creative_beautiful h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #ffff;
}

.creative_beautiful p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffff;
}

.bgp_main{
    margin: 0 auto;
    top: 0px;
    z-index: -1;
    position: absolute;
 }

 .bgp_main img{
    width: 1440px;
    height: 720px;
 }
