body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/

.cover-12{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid gainsboro;
    position: relative;
}
/*header*/

.header-menu {
    width: 1440px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
/*top-menu*/
.top-menu {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 343px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.search{
    width: 80px;
    display: flex;
    justify-content: space-between;
}


/*animation*/

/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #333333;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}

/*/header*/

/*container*/
.container-top {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FD5545;
    position: relative;
    overflow: hidden;
}

/*left-part*/
.white{
    width: 569px;
    height: 416px;
    position: absolute;
    top: 144px;
    left: 135px;
    z-index: 2;
    background-color: #FFFFFF;
}

.left-part-top {
    width: 473px;
    margin-top: 31px;
    margin-left: 48px;
}
.left-part-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}
.left-part-top p {
    margin-top: 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
/*buttons*/
.button-top {
    width: 370px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.button-top a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
/*bgc*/
.bgc {
    color: #FFFFFF;
    padding: 14px 47px 10px;
    background-color: #FD5545;
    border: 1px solid #FD5545;
    border-radius: 3px;
    transition: all 1s ease;
}

/*animation*/
.bgc:hover{
    background-color: #FFFFFF;
    border: 1px solid gray;
    color: #FD5545;
    transition: all 1s ease;
}


/*right-part*/
.right-part-top{
    overflow: hidden;
}
.left-img{
    width: 535px;
    height: 800px;
    position: relative;
}
.left-img img{
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 1;
}
.right-img{
    position: absolute;
    top: 0;
    left: 535px;
    z-index: 1;
}

/*/section*/