body{
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  width: 1440px;
  height: 560px;
  margin: 0 auto;
  background-color: #333333;
  color: white;
}
.content{
  padding: 96px 135px;
  display: flex;
  justify-content: space-around;
  gap: 36px;
}
.section{
  width: 370px;
  height: 368px;
  background-color: rgba(255, 255, 255, 0.05);
}
.section h2{
  padding-left: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 10px;
}
.section p{
  padding-left: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 10px auto;
}
.section .learn-more{
  padding-left: 25px;
  margin-top: 15px;
}
.section .learn-more a{
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
/*animation*/
.animation-red::before{
  content: '';
  border-bottom: 2px solid red;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: all 1s ease;
}
.animation-red:hover::before{
  width: 100%;
  transition: all 1s ease-in-out;
}
/*end of animation*/
