body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/

.cover{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}
/*header*/

.header-menu {
    width: 1170px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

/*animation*/

/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #333333;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}

/*/header*/

/*container*/
.container-top {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

/*left-part*/

.left-part-top {
    width: 470px;
    height: 416px;
    margin-top: 297px;
    margin-left: 700px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-sizing: border-box;
}
/*position-text*/
.position-text{
    margin-top: 25px;
    margin-left: 40px;
}

/*left-part-top (text)*/
.left-part-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}
.left-part-top p{
    margin-top: 31px;
    width: 390px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.left-part-top a{
    margin-top: 13px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/*button-top*/
.button-top {
    margin-top: 31px;
}
.button-top a{
    padding: 14px 47px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

/*animation-more*/
.animation-more {
    background-color: #FD5545;
    color: #FFFFFF;
    border: 1px solid #FD5545;
    border-radius: 3px;
}
.animation-more:hover{
    background-color: #FFFFFF;
    border: 1px solid gray;
    color: #FD5545;
    transition: all 1s ease;
}



/*right-part*/

.right-part-top img{
    position: relative;
    z-index: -1;
    top: 25px;
    left: -135px;
}

/*foter-icon*/
.foter-icon {
    width: 109px;
    margin-left: 135px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foter-icon h2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    mix-blend-mode: normal;
    opacity: 0.5;
}

/*/section*/