body{
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  width: 1440px;
  height: 912px;
  margin: 0 auto;
}
.main-text{
  width: 90px;
  height: 24px;
  margin: 0 auto;
  padding-top: 114px;
}
.main-text p{
font-weight: 700;
font-size: 16px;
text-align: center;
line-height: 24px;
}
.bottom-main-text{
  width: 747px;
  height: 128px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 24px;
}
.bottom-main-text p{
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 64px;
}
.main{
  margin: 60px 135px;
 display: flex;
 justify-content: space-around;
}
.section{
  width: 370px;
  height: 320px;
  border: 1px solid #DDDDDD;
}
.section h2{
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  margin-top: 10px;
}
.section p{
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  margin: 10px 40px;
}
.section a{
  padding-top: 25px;
  padding-bottom: 7px;
   display: flex;
   justify-content: center;
  }
.section .learn-more{
 text-align: center;
 margin-top: 15px;
}
.section .learn-more a{
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
/*animation*/
.animation-red::before{
  content: '';
  border-bottom: 2px solid red;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: all 1s ease;
}
.animation-red:hover::before{
  width: 25%;
  transition: all 1s ease-in-out;
}
/*end of animation*/