body{
    font-family: 'Source Sans Pro', sans-serif;
}

.blog11{
    width: 1440px;
    height: 720px;
    margin: 0 auto;
    display: flex;
    
}

.blog11 .left-side{
    margin-top: 73px;
    margin-left: 135px;
    z-index: 1;
}

.blog11 .left-side .title{
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.blog11 .left-side .subtitle{
    width: 370px;
    height: 66px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 12px;
}

.blog11 .left-side .our-blog{
    margin-top: 54px;
}

.blog11 .left-side .our-blog .blog-items{
    text-decoration: none;
    color: #000;
}

.blog11 .left-side .our-blog .blog-items h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.blog11 .left-side .our-blog .blog-items span{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
    display: inline-block;
}

.blog11 .left-side .our-blog .blog-items hr{
    width: 469px;
    height: 0;
    color: #DDDDDD;
    margin: 24px 0 39px 0;
    
}

.blog11 .right-side{
    width: 1070px;
    height: 720px;
    overflow: hidden;
}