body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/

.cover{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}
/*header*/

.header-menu-left {
    width: 205px;
    height: 800px;
}
/*top-menu*/
.left-menu {
    margin: 23px 72px 41px 33px;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 73px;
    margin-top: 247px;
    display: flex;
    flex-direction: column;
    gap: 33px;
}
.nav-menu li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

/*icons-top*/
.icons-top{
    width: 111px;
    margin-top: 220px;
    display: flex;
    justify-content: space-between;
}

/*animation*/

/*animation-bottom*/
.animation-bottom{
    color: #333333;
    transition: all 1s ease-in-out;
}
.animation-bottom:hover{
    color: #333333;
    opacity: 0.3;
    transition: all 1s ease-in-out
}
/*/header*/

/*container*/
.container-top {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/*left-part*/

.left-part-top {
    width: 853px;
    position: absolute;
    margin-top: 297px;
    margin-left: 191px;
    text-align: center;
}
.left-part-top h1{
    margin-bottom: 31px;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}
.left-part-top span{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
}

/*right-part*/

.right-part-top{
    position: relative;
    z-index: -1;   
}
.scroll{
    position: absolute;
    top: 727px;
    left: 598px;
}

/*/section*/