body{
    font-family: 'Source Sans Pro', sans-serif;
}
/*pracing*/
.pracing{
    width: 100%;
    height: 768px;
    margin: 0 auto;
    background-color: #333333;
}

/*container-pracing*/
.container-pracing{
    width: 1440px;
    height: 736px;
    margin: 0 auto;
    position: relative;
}

/*title-pracing*/
.title-pracing{
    width: 441px;
    margin: 0 auto;
    text-align: center;
    padding-top: 57px;
}
.title-pracing h1{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
}
.title-pracing p{
    margin-top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/*box-pracing*/
.box-pracing{
    width: 970px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
}

/*slide-pracing*/
.slide-pracing{
    width: 485px;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 3px 0px 0px 3px;
    border-radius: 3px;
}
.slide-pracing span{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

/*price*/
.price{
    display: flex;
}
.price h1{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #FD5545;
}
.price h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    position: relative;
    top: 9px; 
}

/*discription-pracing*/
.discription-pracing{
    width: 370px;
    margin-top: 23px;
    gap: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.discription-pracing i{
    display: flex;
    align-items: center;
}
.discription-pracing h2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.icon-close{
    color: #FFFFFF;
    opacity: 0.5;
}
.icon-check{
    color: #FD5545;
}

/*buton-slide-pracing*/
.buton-slide-pracing{
    margin-top: 24px;
}
.buton-slide-pracing a{
    display: flex;
    padding: 12px 41px 10px 31px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.buton-slide-pracing a i{
    margin-right: 14px;
}

/*animation*/

/*buton-slide-pracing*/
.buton-slide-pracing a,
.buton-slide-pracing a i
{
    background-color: #FD5545;
    border: 1px solid #FD5545;
    border-radius: 3px;
    color: #FFFFFF;
}

/*all*/
.slide-pracing:hover span,
.slide-pracing:hover h2,
.slide-pracing:hover h1
{
 color: #FFFFFF;
 transition: all 1s ease;
}
.slide-pracing:hover{
    background-color: #FD5545;
    border: 1px solid #FD5545;
    border-radius: 3px;
    transition: all 1s ease;
}
.slide-pracing:hover .icon-check{
    color: #FFFFFF;
    transition: all 1s ease;
}
.slide-pracing:hover .icon-close{
    color: #FFFFFF;
    transition: all 1s ease;
}
.slide-pracing:hover .buton-slide-pracing a,
.slide-pracing:hover .buton-slide-pracing i{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #FD5545;
    transition: all 1s ease;
}