body{
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  width: 1440px;
  height: 640px;
  margin: 0 auto;
  color: #333333;
}
.left-part-of-page {
  position: relative;
}
.container-with-text{
  position: absolute;
  top: 128px;
  right: 135px;
  text-align: center;
width: 570px;
height: 384px;
background-color: white;
}
.container-with-text h4{
  margin-top: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.container-with-text h2{
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}
.container-with-text p{
  margin-top: 15px;
  margin-left: 50px;
  width: 474px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* button */
.button-about{
  margin-top: 50px;
}
.button-about a{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
/*animation*/
.animation-b{
  position: relative;
  border: 1px solid gray;
  padding: 12px 65px 10px;
  background-color: #FD5545;
  color:#FFFFFF;
  transition: all 1s ease;
  border-radius: 3px;
}
.animation-b:hover{
  transition: all 1s ease;
  border: 1px solid gray;
  background-color: #FFFFFF; 
  color: #FD5545;
}
/*end of animation*/

/* //button */