body{
    font-family: 'Source Sans Pro', sans-serif;
}

.cta-17{
    width: 1170px;
    margin: 0 auto;
}

.h1_cta17{
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
    margin-top: 73px;
}

.h2_cta17{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
    width: 416px;
    margin-top: 16px;
}

.form-email17 input{
    width: 570px;
    height: 48px;
    margin-left: 600px;
    margin-top: -161px;
    padding-left: 15px;
    display: block;
}

.form-mess17 input{
    width: 570px;
    height: 112px;
    margin-left: 600px;
    margin-top: 15px;
    padding-left: 15px;
    display: block;
}

.send-message_cta17{
    width: 170px;
    height: 48px;
    background-color: #FD5545;
    border: none;
    border-radius: 5%;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-left: 600px;
    display: block;
}

.send-message_cta17 a{
    text-decoration: none;
    color: #fff;
}

