body{
    font-family: 'Source Sans Pro', sans-serif;
}

.cta-21{
    width: 1140px;
    margin: 0 auto;
    height: 368px;
}

.main_cntc21{
    width: 730px;
    height: 536px;
    border: 1px solid rgba(0,0,0,0.2);
    position: relative;
    z-index: 2;
    margin-top: 66px;
    text-align: center;
    margin-left: 200px;
    background-color: #fff;
    
}

.map21{
    width: 100%;
    position: relative;
    z-index: 1;
    
}

.pin21{
    position: relative;
    z-index: 2;
    margin-top: -200px;
    margin-left: 538px;
    display: block;
    width: 56px;
    height: 56px;
}

.main_cntc21 h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    margin-top: 27px;
    color: #333333;
}

.main_cntc21 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 13px;
}
.form_name21 input{
    display: block;
    margin-top: 20px;
    width: 300px;
    height: 48px;
    padding-left: 15px;
    margin-left: 29px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

.form_email21 input{
    display: block;
    margin-top: -52px;
    width: 300px;
    height: 48px;
    padding-left: 15px;
    margin-left: 380px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

.form_numb21 input{
    display: block;
    margin-top: 34px;
    width: 660px;
    height: 48px;
    padding-left: 15px;
    margin-left: 29px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

.form_mess21 input{
    display: block;
    margin-top: 34px;
    width: 660px;
    height: 96px;
    padding-left: 15px;
    margin-left: 29px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

.send-message21{
    width: 170px;
    height: 48px;
    background-color: #FD5545;
    border: solid 1px #FD5545;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 34px;
    margin-left: 0px;
}

.send-message21 a{
    color: #fff;
    text-decoration: none;
}