body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/

.cover{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #FD5545;
    border: 1px solid gainsboro;
}
/*header*/

.header-menu {
    width: 1170px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
/*nav-menu*/
.nav-menu {
    width: 490px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.search{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
/*contact-us */
.contact-us{
    display: flex;
    border-radius: 7px;
}
.contact-us a{
    padding: 8px 14.5px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
}


/*animation*/

/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}
/*animation-us*/
.animation-us{
    color: #FFFFFF;
    background-color: #FD5545;
    border: 1px solid #FD5545;
    border-radius: 7px;
    transition: all 1s ease;
}
.animation-us:hover{
    background-color: #FFFFFF;
    border: 1px solid gray;
}
.animation-us:hover{
    color: #FD5545;
}
.animation-us{
    transition: all 1s ease;
}
/*/header*/

/*container*/
.container-top {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

/*left-part*/

.left-part {
    width: 398px;
    margin-top: 265px;
    position: absolute;
}
.left-part span{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.left-part h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
/*button*/
.button{
    width: 370px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}
.button a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.white{
    color: #FD5545;
}
/*bgc*/
.bgc {
    padding: 14px 47px 10px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    transition: all 1s ease;
}

/*right-part*/

.rectangle{
    position: relative;
    z-index: -1;
    top: -71px;
    left: 300px;
}
.play{
    position: relative;
    top: -600px;
    left: 800px;
}

/*animation*/
.bgc:hover{
    background-color: #FD5545;
    border: 1px solid gray;
    color: #FFFFFF;
}
.animation-white{
    transition: all 1s ease;
}



/*/section*/