body{
    font-family: 'Source Sans Pro', sans-serif;
}
.tab {
    width: 380px;
    margin: 0 auto;
    overflow: hidden;
    color: #FD5545;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.tab button {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: inherit;
    float: left;
    border: 1px solid #D6D6D6;
    color: #FD5545;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}
.mon{
    padding: 14px 70px 10px;
    border: 1px solid #FD5545;
    background-color: #FD5545;
}
.ann{
    padding: 14px 66px 10px 68px;
}

.tab button.active {
    border: 1px solid #FD5545;
    background-color: #FD5545;
    color: #FFFFFF;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}