body{
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(135deg, #FD3E7F 0%, #FD5545 100%);
}

/*section*/
.cover-1{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
}
/*header*/

.header-menu {
    width: 1170px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
/*nav-menu*/
.nav-menu {
    width: 399px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
/*contact-us */
.contact-us{
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 7px;
}
.contact-us a{
    padding: 8px 14.5px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
}

/*animation*/

/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}
/*contact-us*/
.contact-us:hover{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.contact-us a:hover{
    color: #FD5545;
}
.animation-us{
    transition: all 1s ease;
}
/*/header*/

/*container*/
.container {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

/*left-part*/

.left-part {
    width: 497px;
    margin-top: 162px;
}
.left-part h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
}
/*description*/
.description p {
    margin-top: 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
/*buttons*/
.buttons {
    width: 370px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.buttons a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.white{
    color: #FFFFFF;
}
.red{
    color: #FD5545;
}
/*bgc*/
.bgc {
    padding: 14px 58px 10px;
    background-color: #FFFFFF;;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}
/*br*/
.br {
    border: 1px solid gainsboro;
    padding: 14px 47px 10px;
}

/*right-part*/

.right-part img{
    margin-top: 78px;
}

/*animation*/
.bgc:hover{
    background: linear-gradient(135deg, #FD3E7F 0%, #FD5545 100%);
    border: 1px solid gainsboro;
    color: #FFFFFF;
}
.animation-white{
    transition: all 1s ease;
}
.br:hover{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #FD5545;
}
.animation-red{
    transition: all 1s ease;
}

/*/section*/