body{
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  width: 1440px;
  height: 288px;
  margin: 0 auto;
}
.content{
  padding: 73px 135px 70px;
  display: flex;
  justify-content: space-between;
}
.section{
  height: 145px;
  display: flex;
  flex-direction: row;
  width: 370px;
  padding: 15px;
  column-gap: 10px;
  grid-row-gap: 20px;
  text-decoration: none;
}
.left-side-of-section{
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-basis: 15%;
  width: 15%;
}
.right-side-of-section{
  display: flex;
  flex-basis: 85%;
  flex-direction: column;
  align-items: flex-start;
}
h1{
  color: black;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}
h3{
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
p{
  color: #333333;
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/*animation*/
.animation{
  transition: all 1s ease;
}
.animation:hover{
  color: brown;
  transition: all 1s ease;
}
/*end of animation*/
.animation:hover{
  color: brown;
  transition: all 1s ease;
}
/*end of animation*/
