body{
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  width: 1440px;
  height: 704px;
  margin: 0 auto;
  color: #333333;
}
.content{
  display: flex;
  justify-content: space-around;
}
.left-part-of-page{
  margin-left: 135px;
}
.left-part-of-page h2{
  padding-top: 121px;
  width: 463px;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}
.left-part-of-page p{
  width: 570px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.right-part-of-page .hand {
  margin-top: 30px;
  position: relative;
}


/*Javascript code */
td {padding-right: 20px; padding-bottom: 4px;}
.col1 {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

/* PROGRESS BAR - BASE */
.meter { 
	height: 8px;
	position: relative;
	background: #DCE0E3;
  border-radius: 5px;
}

.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	       -moz-border-radius-topright: 5px;
	    -moz-border-radius-bottomright: 5px;
	           border-top-right-radius: 5px;
	        border-bottom-right-radius: 5px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px; 
	background-color: #FD5545;
	position: relative;
	overflow: hidden;
}
.meter > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #e27982), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #e27982), color-stop(.75, #e27982), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, #e27982 25%, transparent 25%, transparent 50%, #e27982 50%, #e27982 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, #e27982 25%, transparent 25%, transparent 50%, #e27982 50%, #e27982 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, #e27982 25%, transparent 25%, transparent 50%, #e27982 50%, #e27982 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, #e27982 25%, transparent 25%, transparent 50%, #e27982 50%, #e27982 75%, transparent 75%, transparent);
	z-index: 1;
	-webkit-background-size: 20px 20px;
	-moz-background-size:    20px 20px;
	background-size:         20px 20px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}
/* PROGRESS BAR - ANIMATION */
@-webkit-keyframes move {
  0% {background-position: 0 0;}
  100% {background-position: 30px 30px;}
}
@-moz-keyframes move {
  0% {background-position: 0 0;}
  100% {background-position: 30px 30px;}
}

.javascript-progress-bar-area{
  margin-top: 50px;
}
.javascript-progress-bar-area h5{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

/*JS values in the table */

.javascript-progress-bar-area [data-value] { 
  position: relative; 
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

.javascript-progress-bar-area [data-value]:after {
	content: attr(data-value) '%';
	position: absolute; right:0;
}

/* end of Javascript code */