body{
    font-family: 'Source Sans Pro', sans-serif;
}

.testi-2{
    width: 2050px;
    margin: 0 auto;
    text-align: center;
}

.h1_testi2{
    margin-top: 80px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.p_testi2{
    margin-top: 17px;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
}

.flexcards_testi2{
    height: 272px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    text-align: start;
    color: #333333;
}

.flexcards_testi2 p{
    width: 306px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    margin-left: 32px;
}

.card_testi2{
    background-color: #fff;
    border: solid 1px #DDDDDD;
    width: 386px;
    transition: 1s;
}

.card_testi2:hover{
    background-color: #fD5545;
    border: solid 1px #FD5545;
    color: #fff;
    transform: scale(1.2);
}

.flexcards_testi2 img{
    margin-top: 22px;
    margin-left: 32px;
}

.flexcards_testi2 h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-left: 116px;
    margin-top: -62px;
}

.flexcards_testi2 span{
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-left: 116px;
}

