body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/
.cover{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.bgc-img{
    position: relative;
    z-index: 2;
}
/*header*/

.header-menu {
    width: 1170px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 298px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

/*animation*/

/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #333333;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}

/*/header*/

/*container*/
.container-top {
    margin: 0 auto;
    width: 1170px;
}

/*left-part*/

.left-part-top {
    width: 500px;
    margin-top: 146px;
}
.left-part-top p{
    width: 470px;
    margin-top: 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.left-part-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}
/*button*/
.button-top{
    width: 370px;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}
.button-top a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.white{
    color: #FFFFFF;
}
/*bgc*/
.bgc {
    padding: 14px 61px 10px;
    background-color: #FD5545;
    border: 1px solid #FD5545;
    border-radius: 3px;
}

/*right-part*/

.right-part-top{
    width: 1170px;
    display: flex;
    margin-top: 175px;
}
.box{
    width: 390px;
    height: 144px;
}
.box h2{
    margin-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.box p{
    width: 321px;
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.box p , h2{
    margin-left: 32px;
}
/*colors*/
.red{
    background-color: #FD5545;
}
.black{
    background-color: #333333;
}
.gray{
    background-color: #444444;
}

/*animation*/
.bgc:hover{
    background-color: #FFFFFF;
    border: 1px solid gray;
    color: #FD5545;
}
.animation-white{
    transition: all 1s ease;
}

/*back-img*/
.back-img{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}


/*/section*/