body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #333333;
}

.cta-12{
    width: 1170px;
    margin: 0 auto;
}

.h1_cta12{
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    margin-top: 57px;
    color: #fff;
}

.p_cta-12{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 23px;
    width: 570px;
}

.send-message_cta12{
    margin-top: -65px;
    display: block; 
    width: 170px;
    height: 48px;
    background-color: #FD5545;
    border: none;
    border-radius: 5%;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-left: 1000px;
}