body{
    font-family: 'Source Sans Pro', sans-serif;
}

.footer7{
    width: 1440px;
    height: 384px;
    width: 100%;
}

.footer7 .main{
    display: flex;
}

.footer7 .main .titles{
    font-size: 16px;
    font-weight: 700;

    margin-top: 64px;
}

.footer7 .main .first-block{
    margin-left: 135px;
}

.footer7 .main .first-block .text{
    margin-top: 24px;
    width: 354px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.footer7 .main .second-block{
    margin-left: 46px;
}

.footer7 .main .second-block .cards{
    margin-top: 24px;
    position: relative;
}

.footer7 .main .second-block .cards .card1{
    position: absolute;
    width: 78p;
    height: 64px;
    border-radius: 3px;
    overflow: hidden;
}

.footer7 .main .second-block .cards .card2{
    position: absolute;
    width: 78p;
    left: 92px;
    height: 64px;
    border-radius: 3px;
    overflow: hidden;
}

.footer7 .main .second-block .cards .card3{
    position: absolute;
    width: 78p;
    left: 184px;
    height: 64px;
    border-radius: 3px;
    overflow: hidden;
}

.footer7 .main .second-block .cards .card4{
    position: absolute;
    width: 78p;
    left: 276px;
    height: 64px;
    border-radius: 3px;
    overflow: hidden;
}

.footer7 .main .second-block .cards .card5{
    position: absolute;
    width: 78p;
    top: 80px;
    
    height: 64px;
    border-radius: 3px;
    overflow: hidden;
}

.footer7 .main .second-block .cards .card6{
    position: absolute;
    width: 78p;
    height: 64px;
    border-radius: 3px;
    left: 92px;
    top: 80px;
    overflow: hidden;
}

.footer7 .main .second-block .cards .card7{
    position: absolute;
    width: 78p;
    height: 64px;
    border-radius: 3px;
    left: 184px;
    top: 80px;
    overflow: hidden;
}

.footer7 .main .second-block .cards .card8{
    position: absolute;
    width: 78p;
    height: 64px;
    border-radius: 3px;
    left: 276px;
    top: 80px;
    overflow: hidden;
}


.footer7 .main .third-block{
    margin-left: 346px;
}


.footer7 .main .third-block .tweets{
    display: flex;
    justify-content: baseline;
    margin-top: 24px;
}

.footer7 .main .third-block .tweets p{

    font-size: 16px;
    width: 322px;
    line-height: 24px;
    margin-left: 8px;
}

.footer7 .bottom-side{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 135px;
    margin-right: 135px;
}

.footer7 .bottom-side .soc-networks{
    display: flex;
    gap: 20px;
}

.footer7 .bottom-side .license{
    color: #000;
}

.footer7 .bottom-side .soc-networks a{
    text-decoration: none;
    color: #000;
}

/* footer7-dark */

.footer7-dark{
    background-color: #333333;
}

.footer7-dark .main .titles{
    color: #fff;
}

.footer7-dark .main .first-block .text{
    color: #fff;
}

.footer7-dark .bottom-side .license-dark{
    color: #fff;
}

.footer7-dark .bottom-side .soc-networks a{

    color: #fff;
}

.footer7-dark .main .third-block .tweets p{
    color: #fff;
}

