body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/

.cover{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}
/*header*/

.header-menu {
    width: 1170px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

/*animation*/

/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #333333;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}

/*/header*/

/*container*/
.container-top {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

/*left-part*/

.left-part-top {
    width: 610px;
    margin-top: 146px;
    position: absolute;
}
.left-part-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}
.left-part-top p{
    width: 470px;
    margin-top: 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

/*button*/
.button-register{
    width: 470px;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}
.button-register a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.button-register form input{
    width: 249px;
    height: 42px;
    padding-left: 15px;
    border-radius: 3px;
}

/*description-register*/
.description-register {
    width: 188px;
    margin-top: 18px;
    display: flex;
}
.description-register h2{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #333333;
}
.description-register a{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #FD5545;
    text-decoration: none;
    margin-left: 2.5px;
}

.white{
    color: #FFFFFF;
}
/*bgc*/
.bgc {
    padding: 14px 58px 10px;
    background-color: #FD5545;
    border: 1px solid #FD5545;
    border-radius: 3px;
}

/*right-part*/

.right-part-top img{
    position: relative;
    z-index: -1;
    top: -71px;
    left: 357px;
}


/*animation*/
.bgc:hover{
    background-color: #FFFFFF;
    border: 1px solid gray;
    color: #FD5545;
}
.animation-white{
    transition: all 1s ease;
}


/*/section*/