body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/
.cover-3{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
}
/*header*/

.header-menu {
    width: 1375px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
/*nav-menu*/
.nav-menu {
    width: 399px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.search{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}

/*/header*/

/*container-top*/
.container-top {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-direction: column;
}
.container-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 274px;
}
.container-top a{
    margin: 0 auto;
    margin-top: 307px;
}
/*/container-top*/

/*bgc-img*/
.bgc-img{
    position: relative;
    top: -766px;
    z-index: -1;
}
/*/bgc-img*/

/*/section*/