body{
    font-family: 'Source Sans Pro', sans-serif;
}

.footer16{
    width: 1440px;
    height: 480px;
    width: 100%;
    background-color: #333333;
}

.footer16 img{
    width: 100%;
    height: 336px;
    overflow: hidden;
    z-index: 1;
    margin-top: 144px;
    position: relative;
}

.footer16 .logo{
    position: absolute;
    top: 56px;
    left: 44%;
    border-radius: 50%;
    background-color: #3D3D3D;
    z-index: 2;
    font-size: 40px;
    font-weight: 700;
    padding: 60px 35px 62px 35px;
    color: #fff;
}

.footer16 .main{
    position: absolute;
    top: 249px;
    left: 334px;
}

.footer16 .main .text{
    
    font-size: 40px;
    font-weight: 700;
    z-index: 4;
    
    color: #fff;
}
