body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #333333;
}

.testi-15{
    width: 1440px;
    margin: 0 auto;
}

.h1_testi15{
    margin-top: 128px;
    margin-left: 135px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.img_testi15{
    margin-left: 835px;
    margin-top: -400px;
    display: block;
}

.p_testi15{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    width: 370px;
    margin-left: 135px;
    margin-top: 14px;
}

.h2_testi15{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-top: 30px;
    margin-left: 135px;
    color: #fff;
}

.span_testi15{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-left: 135px;
    margin-top: 8px;
    mix-blend-mode: normal;
    opacity: 0.5;
}