body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/

.cover-5{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
}
/*header*/

.header-menu {
    width: 1170px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.search{
    width: 70px;
    display: flex;
    justify-content: space-between;
}
/*contact-us */
.contact-us{
    display: flex;
    border-radius: 7px;
}
.contact-us a{
    padding: 8px 14.5px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
}


/*animation*/

/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #333333;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}
/*animation-us*/
.animation-us{
    color: #FD5545;
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 7px;
}
.animation-us:hover{
    background-color: #FD5545;
    border: 1px solid #FD5545;
    color: #FFFFFF;
}
.animation-us{
    transition: all 1s ease;
}
/*/header*/

/*creative*/
.creative{
    width: 977px;
    text-align: center;
    margin: 0 auto;
    margin-top: 166px;
}
.creative h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-top: 16px;
}
/*start-now*/
.start-now{
    margin-top: 38px;
}
.start-now a{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

/*animatin now*/
.animation-now{
    padding: 14px 49px 10px;
    background-color: #FD5545;
    border: 1px solid #FD5545;
    color: #FFFFFF;
}
.animation-now:hover{
    background-color: #FFFFFF;
    border: 1px solid gray;
    color: #FD5545;
    transition: all 1s ease;
}
/*/creative*/