body{
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  width: 1440px;
  height: 432px;
  margin: 0 auto;
  color: #333333;
}
.content{
  margin-left: 135px;
  margin-right: 135px;
  display: flex;
  gap: 62px;
  justify-content: space-between;
  padding-top: 115px;
}
.left-part{
  width: 470px;
  height: 200px;
  float: left;
}
.left-part h2{
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}
.left-part p{
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.middle-part{
  width: 225px;
  height: 72px;
  float: left;
  display: flex;
 /*flex-basis: auto;
 */
  justify-content: right;
}
.middle-part h1{
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}
.right-part{
  width: 370px;
  height: 83px;
}
.right-part h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.right-part p{
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.learn-more{
  margin-top: 36px;
}
.learn-more a{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
/*animation*/
.animation-a{
  position: relative;
  border: 1px solid #FD5545;
  padding: 12px 29px 10px;
  background-color: #FD5545;
  color: #FFFFFF;
  transition: all 1s ease;
}
.animation-a:hover{
  transition: all 1s ease;
  border: 1px solid gray;
  background-color: #FFFFFF;
  color: #FD5545;
}
/*end of animation*/