body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/

.cover{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}
/*header*/

.header-menu {
    width: 1370px;
    margin-left: 32px;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.animation-img img{
    transition: all 1s ease;
}

/*animation*/

.animation-img img:hover{
    width: 28px;
    height: 28px;
    transition: all 1s ease;
}

/*/header*/


/*container*/
.container-top {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

/*left-part*/

.left-part-top {
    width: 869px;
    margin-top: 402px;
    position: absolute;
}
.left-part-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}
.left-part-top p{
    margin-top: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}

/*right-part*/

.right-part-top img{
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.bgc-img{
    position: absolute;
    z-index: 2;
}

/*/section*/