body{
    font-family: 'Source Sans Pro', sans-serif;
}

.build_your{
    width: 580px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}

.cta-3{
    width: 1440px;
    height: 464px;
    margin: 0 auto;
}

.build_your h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
}

.bgc_square{
    background-color: #FD5545;
    width: 1170px;
    height: 304px;
    margin-left: 120px;
}

.h1_build h1{
    position: absolute;
    top: 289px;
}

.buy_noww{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    position: absolute;
    top: 385px;
    left: 850px;
}

.animation-a{
    position: relative;
    border: 1px solid #fff;
    padding: 14px 50px 10px;
    background-color: #fff;
    color: #FD5545;
    text-decoration: none;
    border-radius: 4px;
    width: 170px;
}

.animation-a:hover{
    transition: all 1s ease;  
    border: 1px solid gray;
    background-color: #FD5545;
    color: #Ffff;
}