body{
    font-family: 'Source Sans Pro', sans-serif;
}

/*section*/

.cover-12{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid gainsboro;
}
/*header*/

.header-menu {
    width: 1170px;
    margin: 0 auto;
    margin-top: 23px;
}
/*top-menu*/
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*logo*/
.logo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
/*nav-menu*/
.nav-menu {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}
.nav-menu li a{
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.search{
    width: 80px;
    display: flex;
    justify-content: space-between;
}


/*animation*/

/*animation-bottom*/
.animation-bottom::before{
    content: '';
    border-bottom: 1px solid #333333;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 1s ease;
}
.animation-bottom:hover::before{
    width: 100%;
    transition: all 1s ease;
}
/*animation-us*/
.animation-us{
    color: #FFFFFF;
    background-color: #FD5545;
    border: 1px solid #FD5545;
    border-radius: 7px;
}
.animation-us:hover{
    background-color: #FFFFFF;
    border: 1px solid gray;
}
.animation-us:hover{
    color: #FD5545;
}
.animation-us{
    transition: all 1s ease;
}
/*/header*/

/*container*/
.container-top {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

/*left-part*/

.left-part-top {
    width: 360px;
    margin-top: 162px;
}
.left-part-top h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}
/*description*/
.description-top p {
    margin-top: 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
/*buttons*/
.buttons-top {
    width: 370px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.buttons-top a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.white{
    color: #FFFFFF;
}
.red{
    color: #FD5545;
}
/*bgc*/
.bgc {
    padding: 14px 47px 10px;
    background-color: #FD5545;
    border: 1px solid #FD5545;
    border-radius: 3px;
}
/*br*/
.br {
    padding: 14px 47px 10px;
    border: 1px solid grey;
}

/*right-part*/

.right-part {
    position: relative;
    z-index: -1;
    top: -71px;
    left: -495px;
}
.img-down {
    position: relative;
    top: -806px;
    left: 0px;
    z-index: 1;
}
.img-down-1 {
    position: relative;
    top: -1580px;
    left: 15px;
}

/*animation*/
.bgc:hover{
    background-color: #FFFFFF;
    border: 1px solid gray;
    color: #FD5545;
    transition: all 1s ease;
}
.animation-white{
    transition: all 1s ease;
}
.br:hover{
    background-color: #FD5545;
    color: #FFFFFF;
    border: 1px solid #FD5545;
    transition: all 1s ease;
}
.animation-red{
    transition: all 1s ease;
}


/*/section*/